on:
  push:
  pull_request:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2.1.1
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun lint
